<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" entry-point-ref="loginAuthenticationEntry" >
		<intercept-url pattern="/home*" access="ROLE_ADMIN" />
		<intercept-url pattern="/login*" access="ROLE_ADMIN" />
		<intercept-url pattern="/admin*" access="ROLE_ADMIN" />
		<custom-filter before="FORM_LOGIN_FILTER" ref="firstProcessingFilter"/>
		<custom-filter  after="FORM_LOGIN_FILTER" ref="secondProcessingFilter"/>
	</http>

	<authentication-manager alias="authenticationManagerAlias">
		<authentication-provider ref="cyborgAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
	

	<beans:bean id="loginAuthenticationEntry"
		class="org.springframework.security.web.authentication.DelegatingAuthenticationEntryPoint">
		<beans:constructor-arg>
		<beans:map>
		<beans:entry key-ref="adminKeyRef" value-ref="AdminUrlAuthenticationEntryPoint"></beans:entry>
		<beans:entry key-ref="userKeyRef" value-ref="LoginUrlAuthenticationEntryPoint"></beans:entry>
		</beans:map>
		</beans:constructor-arg>
		<beans:property name="defaultEntryPoint" ref="defaultEntryPt"></beans:property>
	</beans:bean>
  
	
	<beans:bean id="adminKeyRef" class="com.beingjavaguys.controller.AdminMatcher">
	</beans:bean>
	
	<beans:bean id="defaultEntryPt" class="com.beingjavaguys.controller.DefaultEntryPoint">
	</beans:bean>
	
	<beans:bean id="userKeyRef" class="com.beingjavaguys.controller.UserMatcher"></beans:bean>
	
	
	
	<beans:bean id="LoginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg value="/spring_security_login" />
    </beans:bean>

    <beans:bean id="AdminUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg value="/spring_security_login" />
    </beans:bean>
    
        <beans:bean id="firstProcessingFilter" class="com.beingjavaguys.controller.FirstAuthenticationFilter">
        <beans:constructor-arg type="java.lang.String" value="/j_spring_security_check"/>
        <beans:property name="authenticationManager" ref="authenticationManagerAlias" />
        <beans:property name="authenticationSuccessHandler" ref="firsrSuccessHandler" />
        <beans:property name="authenticationFailureHandler" ref="secondResolver" />
    </beans:bean>

    <beans:bean id="secondProcessingFilter" class="com.beingjavaguys.controller.SecondAuthenticationFilter">
        <beans:constructor-arg type="java.lang.String" value="/j_sso_spring_security_check"/>
        <beans:property name="authenticationManager" ref="authenticationManagerAlias" />
        <beans:property name="authenticationSuccessHandler" ref="firsrSuccessHandler" />
        <beans:property name="authenticationFailureHandler" ref="secondResolver" />
    </beans:bean>
    
    
    <beans:bean id="firsrSuccessHandler" class="com.beingjavaguys.controller.TestAuthenticationSuccessHandler">
    
    </beans:bean>
    
    
     <beans:bean id="secondResolver" class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
        <beans:property name="exceptionMappings">
            <beans:props>
                <beans:prop key="org.springframework.security.authentication.BadCredentialsException">/pages/failed.jsp</beans:prop>
                <beans:prop key="org.springframework.security.web.authentication.session.SessionAuthenticationException">/pages/failed.jsp</beans:prop>
                <beans:prop key="org.springframework.security.authentication.AuthenticationCredentialsNotFoundException">/pages/failed.jsp</beans:prop>
            </beans:props>
        </beans:property>
        <beans:property name="defaultFailureUrl" value="/failed.jsp" />
    </beans:bean>
    
     <beans:bean id="cyborgAuthenticationProvider" class="com.beingjavaguys.controller.TestAuthenticationProvider">
    </beans:bean>
    
</beans:beans>